name: Catalog

on:
  pull_request:
    branches:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate-and-validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
      - name: set up conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/environment.yaml
          init-shell: >-
            bash
          cache-environment: true
          cache-downloads: true
          post-cleanup: "all"

      - name: Install package
        run: |
          python -m pip install .

      - name: Validate Feedstocks and Generate Catalog
        run: |
          leap-catalog --help
          leap-catalog validate --single https://github.com/leap-stc/proto_feedstock/blob/main/feedstock/catalog.yaml
          leap-catalog generate --path https://raw.githubusercontent.com/leap-stc/data-management/staging/catalog/input.yaml --output catalog/
          cat catalog/output/consolidated-web-catalog.json | jq

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: consolidated-web-catalog.json
          path: catalog/output/consolidated-web-catalog.json
